body 	{
	background-color: white;
	font-family: Arial,  Helvetica, sans-serif;

}

h1 {
	color: navy;
	margin-left: 20px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	padding-top: 50px;
}

.modal-content {
	background-color: #fefefe;
	margin: 5px auto;
	border: 1px solid #888;
	width: 80%;
}

.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 30px;
	font-weight: bold;

}

.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}